In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [4]:
# Reading the cleaned dataset
cleaned_ds_filepath ="data/steam_200k_cleaned_data.csv"
cleaned_df = pd.read_csv(cleaned_ds_filepath)

In [5]:
cleaned_df.head()

   user                   game purchase_play  hours  purchase  play
0  5250            Alien Swarm  purchaseplay    4.9         1     1
1  5250        Cities Skylines  purchaseplay  144.0         1     1
2  5250         Counter-Strike      purchase    0.0         1     0
3  5250  Counter-Strike Source      purchase    0.0         1     0
4  5250          Day of Defeat      purchase    0.0         1     0

In [ ]:
# Data Exploration